<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DivideActionServlet</servlet-name>
        <servlet-class>controller.DivideActionServlet</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>DivideActionServlet</servlet-name>
        <servlet-class>controller.DivideActionServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>LoadContentServlet</servlet-name>
        <servlet-class>controller.LoadContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadContentServlet2</servlet-name>
        <servlet-class>controller.LoadContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationCourseServlet</servlet-name>
        <servlet-class>controller.InformationCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonServlet</servlet-name>
        <servlet-class>controller.LessonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DivideActionServlet</servlet-name>
        <url-pattern>/DivideActionServlet</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>LoadContentServlet</servlet-name>
        <url-pattern>/LoadContentServlet</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>LoadContentServlet2</servlet-name>
        <url-pattern>/LoadContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationCourseServlet</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonServlet</servlet-name>
        <url-pattern>/lesson</url-pattern>
    </servlet-mapping>
</web-app>
